*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    cursor: pointer;
}
.search-icon{
    background-color: #ccc;
    padding: 10px;

    font-size: 14px;
}
.mic-icon{
    background-color: #ccc;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    margin-left: 25px;

}
.right-icons{
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.right-icons img{
    width: 30px;
}
input{
    width: 500px;
    height: 33.5px;
    border: 2px solid #cccccc;
    font-size: 16px;
    padding: 5px;
}
.Tags{
    border-top: 2px solid #c2c2c26e;
    margin-top: 15px;
    display: flex;
    gap: 30px;
    margin-left: 30px;
    /* justify-content: space-between; */
}
.tag{
    margin-top: 10px;
    cursor: pointer;
}
.light{
    background-color: #dadada;
    padding: 10px 20px;
    border-radius: 40px;
}
.light:hover{
    background-color: #b8b8b8;
    padding: 10px 20px;
    border-radius: 40px;
}
.black{
    background-color: #000000cb;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
}
.black:hover{
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
}
.container{
    display: flex;
}
.main-container{
    width: 100%;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.side-icons{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.download{
    font-size: 20px;
}
.side-icons  img{
    width: 20px;
} 
.side-icons p{
    margin-top: 5px;
    margin-bottom: 25px;
} 
.bars{
    font-size: 30px;
    margin: 0px 30px;
    color: #000000c9;
    margin-top: 18px;
    margin-bottom: 18px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.card{
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}
.avatar-content{
    padding-top: 10px;
    display: flex;
    gap: 5px;
}
.card h3{
    font-size: 17px; 
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.channel{
    font-size: 14px;
    font-weight: 600;
    color: #0000009f;
}
.content-status{
     display: flex;
     font-size: 14px;
     font-weight: 600;
     color: #000000c2;
     gap: 10px;
}
.avatar{
    margin-right: 8px;
}
.Thumbnail{
    width: 300px;
    border-radius: 15px;
    margin-bottom: 5px;
}